<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>galeria</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="lista.html">Lista</a>
            <a href="https://www.google.com" target="_blank">Google</a>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <img src="img/perrito.jpeg" height="200px" alt="cachorro">
                <h3>Cachorro de golden retriever</h3>
                <p>Es una imagen sobre un cachorrito sentado.</p>
                <a href="img/perrito.jpeg" target="_blank">Enlace imagen perrito</a>
                <br>
                <a href="img/perrito.jpeg" download>Descargar imagen perrito</a>
                <br>
                <a href="img/perrito.pdf" download>Descargar pdf</a>
                <br>
                <a href="mailto:lorenzopiatti2003gmail.com?subject=Consulta&body=Hola, quiero informacion sobre el perrito.">Enviar correo</a>
                <br>
                <a href="#qs">Ir a quienes somos</a>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <h3 id="qs">Quienes somos</h3>
                <img src="img/images.png" alt="imagen">
            </div>
        </section>
    </main>
</body>
</html>