<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Index</title>
</head>
<body>
    <header>
        <nav>
            <img src="../img/images.png" alt="" class="logo">
            <a href="index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="lista.html">Lista</a>
            <a href="formulario.html">Formulario</a>
            <a href="https://www.google.com" target="_blank">Google</a>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h2>Titulo</h2>
                <p>Hola a todos</p>
            </div>
            <div>
                <img src="../img/perrito.jpeg" height="200px" alt="image">
            </div>
        </section>
        <section class="prueba">
            <p>
                <mark>Prueba de resaltado</mark>
                <i>Prueba de cursiva</i>
                <strong>Prueba de remarcado</strong>
                <h1>Prueba titulo h1</h1>
                <h2>Prueba titulo h2</h2>
                <h3>Prueba titulo h3</h3>
                <h4>Prueba titulo h4</h4>
                <h5>Prueba titulo h5</h5>
                <h6>Prueba titulo h6</h6>
                <b>Prueba negrita</b>
                <u>Prueba subrayado</u>
                <br>Prueba salto de linea
            </p>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>