<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="lista.html">Lista</a>
            <a href="https://www.google.com" target="_blank">Google</a>
        </nav>
    </header>
    <main>
        <section>
            <h3>Lista ordenada</h3>
            <ol>
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miercoles</li>
            </ol>
        </section>
        <section>
            <h3>Lista desordenada</h3>
            <ul>
                <li>Lunes</li>
                <li>Martes</li>
                <li>Miercoles</li>
            </ul>
        </section>
        <section>
            <h3>Lista de definicion</h3>
            <p>Lacteos</p>
            <dl>
                <dt>Leche</dt>
                <dd>Descremada</dd>
                <dd>Entera</dd>
                <dt>Queso</dt>
                <dd>Fontina</dd>
                <dd>Mozzarella</dd>
            </dl>
        </section>
        <section>
            <h3>Lista dependiente</h3>
            <ul>
                <li>Lunes</li>
                <ul>
                    <li>Mañana</li>
                    <li>Tarde</li>
                    <li>Noche</li>
                </ul>
                <li>Martes</li>
                <ul>
                    <li>Mañana</li>
                    <li>Tarde</li>
                    <li>Noche</li>
                </ul>
            </ul>
        </section>
    </main>
</body>
</html>