<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="audio, video, mapa, tabla">
    <meta name="description" content="Página con secciones de audio, video, mapa y tabla">
    <title>Tabla</title>
    <link rel="icon" href="ico/icono.ico">
</head>
<body>
    <header>
        <nav>
            <a href="index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="tabla.html">Tabla</a>
            <a href="lista.html">Lista</a>
            <a href="https://www.google.com" target="_blank">Google</a>
        </nav>
    </header>
    <main>
        
    </main>
</body>
</html>