<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css 1</title>
    <link rel="stylesheet" href="../css/styles1.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../img/escudo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="fondo">
            <h1 class="titulo">Bienvenidos a nuestro sitio</h1>
            <p id="parrafo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel debitis rem voluptatum quod quia velit, ipsum enim deleniti reiciendis impedit itaque eos quis. Libero numquam at sunt, atque dolorum accusamus.</p>
        </section>
        <div class="contenido">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum vitae corrupti culpa magni eveniet! Ullam porro, molestias vitae, quos, at optio aspernatur et aut aliquam natus impedit ipsa similique. Sit.</p>
        </div>
        <div id="bloque-3">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit sunt eum at quam, voluptatibus sapiente optio temporibus? Reprehenderit vel necessitatibus quisquam magnam, dolores dicta saepe dolor corrupti a accusantium accusamus.
            Placeat reprehenderit laudantium eos architecto saepe accusamus mollitia necessitatibus cupiditate in maxime at, quisquam tempore nemo ipsam tempora, a quaerat quos neque facere laboriosam assumenda. Inventore ullam culpa saepe aperiam.
            Quasi harum eos sint dolore, eveniet laboriosam eius cum accusantium voluptates esse labore id provident commodi minus, consectetur dicta repudiandae saepe? Iste ratione vitae dicta quos. Tenetur laudantium neque sint!
            Blanditiis quo eligendi accusamus optio fugiat numquam alias libero eaque, suscipit provident cupiditate dignissimos vel, quasi eos laudantium veniam mollitia cum enim repellat. Perferendis illo laborum blanditiis ea, maxime impedit.
            Temporibus exercitationem porro unde impedit vitae vel neque tempora iste, cupiditate quos, ratione culpa, ut amet corporis sequi enim facilis rerum repudiandae optio natus ipsum quidem quaerat. Eius, ut dicta.
            Necessitatibus modi, velit ab repudiandae, maxime itaque reprehenderit deleniti quos nihil, architecto neque eveniet facere commodi doloremque. Nesciunt, in rem tempore obcaecati, molestias omnis architecto quaerat facere beatae quos officiis!
            Velit quod sit nemo repudiandae, minima inventore ipsam dolore repellendus eveniet laborum modi, quaerat delectus praesentium aliquam quisquam vero nostrum dolorem, accusamus unde? Odit tempore sit modi nostrum dolor porro?
            Temporibus similique maiores perspiciatis, culpa quam quod aut non ab in officiis asperiores sunt laudantium? Commodi ex exercitationem molestias sint, eius corporis corrupti quibusdam deleniti sequi error id vero similique.
            Sequi impedit eos temporibus, dolore molestiae eaque similique et! Qui sequi autem ex voluptas, eveniet facilis iusto exercitationem ab quisquam provident laborum minima maiores odio, fugiat quod, ut suscipit repudiandae.
            Atque veritatis consequuntur similique porro et aperiam hic adipisci, officia, ratione aspernatur sapiente iure, sint iusto voluptatum quasi quae perspiciatis! Reiciendis sint soluta beatae quisquam quos, velit molestiae laudantium error!</p>
        </div>
    </main>
    <footer>
        <p>Piatti, Lorenzo Jose</p>
    </footer>
</body>
</html>